* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
.container {
	width: 940px;
	margin: 0 auto;
 }

 .header {
 	height: 78px;
 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
 	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	background: rgb(255, 255,255);
 }

.header__container {
	height: 100%;
	display: flex;
	align-items: center;
}

 .header__pic {
 	width: 58px;
	height: 58px;
	border-radius: 50%;
	border: 2px solid #bdbdbd;
 }

.header__name {
	font-size: 18px;
 	font-weight: 400;
    color: rgb(65, 65, 65);
    line-height: 1.556;
    flex-grow: 1;
	margin-left: 18px;
    margin-top: 4px;
}

.list {
	position: relative;
     margin-top: 4px;
}

.list__link {
    font-size: 18px;
	font-weight: 700;
    line-height: 1.556;
    color: rgb(50, 195, 229);
    text-decoration: none;
    border-bottom: 2px dotted rgb(90, 199, 229);
    
}

.list__link:hover{
	color: rgb(235, 95, 97);
	border-color: rgb(235, 95, 97);
}

.list:hover .list__block {
	left: -55px; 
    opacity: 1;
}

.list__block {
	font-size: 18px;
 	color: rgb(65, 65, 65);
 	line-height: 1.556;
	width: 191px;
	height: 132px;
	border: 1px solid rgb(222, 222, 222);
	border-radius: 9px;
	background-color: rgb(255, 255, 255);
	list-style:none;
    position:absolute;
    top: 37px;
    left: -9999px; 
    opacity:0;
    -webkit-transition:0.25s linear opacity;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
	align-items: left;
	padding-left: 20px;
}


.list__block:before {
	border: 10px solid transparent;
    border-bottom-color: rgb(222, 222, 222);
    position: absolute;
    bottom: 100%;
    right: 90px;
    content: '';
}
.list__block:after {
	border: 9px solid transparent;
    border-bottom-color: rgb(255,255,255);
    position: absolute;
    bottom: 100%;
    right: 91px;
    content: '';
}

.list__item {
	text-decoration: none;
	font-size: 18px;
  	color: rgb(65, 65, 65);
  	line-height: 1.556;
}

.fa--blue {
	color: rgb(51, 193, 227);
}

.profile {
	min-height: calc(100vh - 50px);
	background: rgb(246, 246,246);
}

.profile__container {
	padding-top: 106px;
    display: flex;
    justify-content: space-between;
}

.navigation {
	display: flex;
    flex-direction: column;
    width: 221px;
    text-align: right;
}

.navigation__item {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	font-weight: 400;
	font-size: 18px;
    color: rgb(65, 65, 65);
    line-height: 1.333;
    text-decoration: none;
    border-right: 6px solid transparent;
    height: 44px;
    padding-right: 24px;
}

.navigation__item:hover {
	color: rgb(51, 193, 227);
}

.navigation__item--active {
	color: rgb(51, 193, 227);
	border-right: 6px solid rgb(51, 193, 227);
	font-weight: 700;
}

.info {
    display: flex;
    width: 665px;	
    justify-content: space-between;
}
.info__img {
	width: 220px;
	height: 220px;
	border: 5px solid rgb(255, 255,255);	
	border-radius: 50%;
	margin-bottom: 15px;
}

.description {
	width: 380px;
	display: flex;
	flex-direction: column;
}

.description__header {
	font-size: 35px;
	font-weight: 500;
	color: rgb(65, 65, 65);
	line-height: 1.286;
	margin-bottom: 11px;
}

.description__text{
	position: relative;
	width: 371px;
    height: 278px;
	overflow: hidden;
	font-weight: 300;
	font-size: 18px;
	color: rgb(100, 100, 100);
	line-height: 1.444;
	margin-bottom: 65px;
}

.dwn-button {
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    line-height: 2;
    font-size: 14px;
    height: 40px;
    width: 173px;
    outline: none;
}

.dwn-button--red {
    color: rgb(232, 95, 97);
    background-color:  rgb(246, 246,246);
    border: 2px solid rgb(232, 95, 97);
    border-radius: 20px;
    margin-left: 207px;
    margin-bottom: 50px;
}

.dwn-button:hover {
	color: rgb(246, 246,246);
	background-color: rgb(232, 95, 97);
	cursor: pointer;
}

.footer {
	height: 50px;
	background-color: rgb(65,65,65);
}

.footer__container {
	height: 100%;
	display: flex;
	align-items: center;
}	

.footer__copyright {
	flex-grow: 1;
	font-size: 14px;
	color: rgb(156, 156, 156);
  	line-height: 2.857;
}

.footer__social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 107px;
}

.footer__link {
	width: 30px;
	height: 30px;
	color:  rgb(65,65,65);
	background-color: rgb(156,156,156);
	border-radius: 50%;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer__link--fb:hover {
	background-color: rgb(68,99,166);
}

.footer__link--vk:hover {
	background-color: rgb(93,153,195);
}

.footer__link--twitter:hover {
	background-color: rgb(106,196,217);
}



.anatoly_mail_ru {
  font-size: 18px;
  color: rgb(65, 65, 65);
  line-height: 1.556;
  text-align: left;
  position: absolute;
  left: 125.844px;
  top: 369.886px;
  z-index: 94;
}















