body {
	background-color: #f6f6f6; 
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

 .contanier--position {
 	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.user-profile {
	width: 300px;
	height: 228px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	text-align: center;
	border-radius: 10px;
	background-color: #fff;
}

.user-profile--position {
	margin: auto;

}
.user-profile__photo {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 2px solid #bdbdbd;
	margin-top: -25%;
	margin-bottom: 7px;
}

.user-profile__info {
	font-family: 'Open Sans', sans-serif; 
	font-size: 21px;
    margin-bottom: 16px;
    line-height: 1.333
}
.user-profile__footer {
	height: 78px;
	background-color: #33c1e3;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 10px 10px;
}

.button {
    font-family: 'Fira Sans', sans-serif;
    height: 40px;
    width: 138px;
}

.button--white {
	color: white;
    font-size: 14px;
    background-color: #33c1e3;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
}

.button--white:hover {
    background-color: #fff;
    color: #33c1e3;
    cursor: pointer;
}


