.description {
	@include flexbox (none, none)
	flex-direction: column;
	width: 380px;

	&__header {
		@include text (inherit, 500, 35px, 45px);
		color: $color2;
		margin-bottom: 15px;
	}

	&__text {
		@include text (inherit, 300, 18px, 26px);
		position: relative;
		width: 371px;
    	height: 278px;
		overflow: hidden;
		color: rgb(100, 100, 100);
		margin-bottom: 65px;
	}
}

@media screen and (max-width: 520px) {
	.description {
		@include flexbox (flex-start, center);
		flex-direction: column;
		width: auto;

		&__header {
			margin-bottom: 20px;
		}

		&__text {
			width: auto;
			height: auto;
			overflow: auto;
			margin-bottom: 40px;
		}
	}
}



