.list {
	position: relative;
    margin-top: 4px;
    margin-top: 30px;
    padding-bottom: 20px;

    &__link, {
    	@include text (inherit, 700, 18px, 28px)
    	color: $color8;
    	text-decoration: none;
    	border-bottom: 2px dotted $color8;
    	&:hover{
			color: $color5;
			border-color: $color5;
    	}
    }

    &__link--mobile {
        display: none;
        color: $color8;
        text-decoration: none;
        &:hover{
            color: $color5;
            border-color: $color5;
        }    
    }

    &:hover &__block {
		visibility: visible;
    	opacity: 1;
        -webkit-transition: opacity 0.25s, visibility 0.25s;
    }	
     	
    &__block {
    	@include flexbox (space-around, left);
    	@include text (inherit, 300, 18px, 28px);
    	flex-direction: column;
		color: $color2;
 		width: 191px;
		height: 132px;
		border: 1px solid $color9;
		border-radius: 9px;
		background-color: $color6;
		list-style: none;
    	position: absolute;
    	top: 37px;
    	left: -55px; 
    	opacity:0;
        visibility: hidden;
    	-webkit-transition: opacity 0.25s, visibility 0.25s;
    	padding-left: 20px;
        z-index: 1;
        
    	&:before, &:after {
    		position: absolute;
    		content: '';
    		bottom: 100%;
    		right: 90px;
    		border: 10px solid transparent;
    		border-bottom-color: $color9;
    	}

    	&:after {
    		border: 9px solid transparent;
    		border-bottom-color: $color6;
    		right: 91px;
    	}
	}

	&__item {
		@include text (inherit, 400, 18px, 28px)
		text-decoration: none;
		color: $color2;
        &:hover {
            color: $color4;
        }
	}	
  		
}

.fa--blue {
	color: $color4;
}



@media screen and (max-width: 520px) {
    .list {
        a .fa {
        font-size: 40px;
        }

        &__link {
            display: none;

            &--mobile {
                display: block;
                border: none;
            }
        }

        &:hover .list__block {
            top: 60px;
            left: -180px; 
            opacity: 1;
        }

        &__block {
            height: 90px;
            &:before, &:after {
                right: 10px;
            }

            &:after {
                right: 11px;
            }

            a li .fa {
                font-size: 14px;
            }
        }

    }    
}











