.navigation {
	@include flexbox (none, none);
    flex-direction: column;
    width: 221px;
    text-align: right;

    &__item {
    	@include flexbox (flex-end, center);
    	@include text (inherit, 400, 18px, 24px);
    	color: $color2;
    	text-decoration: none;
    	border-right: 6px solid transparent;
    	height: 44px;
    	padding-right: 24px;
    	&:hover {color: $color4;}

        .fa {margin-right: 9px}
    }	

	&__item--active {
		color: $color4;
		border-right: 6px solid $color4;
		font-weight: 700;
	}
}

@media screen and (max-width: 520px) {
    .navigation {
        @include flexbox (space-between, none);
        flex-direction: row;
        width: auto;
        text-align: left;
        margin-bottom: 23px;

         &__item {
            @include flexbox (flex-start, none);
            @include text (inherit, 400, 14px,  24px);
            border: none;
            margin-right: 20px;
            padding: 0;
            height: auto;
            animation: none;

            &--active {
                color: $color4;
                font-weight: 700;
            }
        }
    }


    .navigation a i {
        display: none;
    } 
}



