.profile {
	min-height: calc(100vh - 50px);
	background: $color3;

	&__container {
		@include flexbox (space-between, none);
		padding-top: 100px;
		}
 	}

@media screen and (max-width: 520px) {
	.profile {
		min-height: calc(100vh - 114px);

		&__container {
			flex-direction: column;
			padding-top: 99px;
		}
	}	
}	