@keyframes broken {
	0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    color: $color4; border-right: 6px solid $color4; font-weight: 700;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    color: $color2; border-right: 6px solid transparent; @include text (inherit, 400, 18px, 24px); 
  }
}
 
 @keyframes dropDown {

        from {
            transform: translateY(-300%);
        }

        to {
           
            transform: translateY(0);
        }
    }    
   

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
 /*   opacity: 0;*/
    transform: translate3d(0, -3000px, 0);
  }

  60% {
/*    opacity: 1;*/
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}