/* --------------------- COLORS ------------------- */

$color1: rgb(114, 114, 114);
$color2: rgb(65, 65, 65);
$color3: rgb(246, 246, 246);
$color4: rgb(51, 193, 227);
$color5: rgb(235, 95, 97);
$color6: rgb(255, 255, 255);
$color7: rgb(189, 189, 189);
$color8: rgb(50, 195, 229);
$color9: rgb(222, 222, 222);
$color10: rgb(156,156,156);

/* ------------------ FONT FAMILIES ----------------*/

$firaSans: 'Fira Sans', sans-serif;
$openSans: 'Open Sans', sans-serif;