.tablet {
	@include flexbox (flex-end, center);
	width: 479px;
	
		
	&__date {
		@include text (inherit, 300, 14px, 26px);
		color: $color1;
        margin-top: 2px;
	}
		
	&__dot {
		width: 10px;
		height: 10px;
		border: 5px solid $color3;
		border-radius: 50%;
		background-color: $color4;
		margin-left: 5px;
		z-index: 2;
	}

	&__item {
        box-sizing: border-box;
		width: 380px;
		background-color: $color6;
		border-radius: 9px;
		box-shadow: 0 1px 3px 0  rgba(0, 0, 0, 0.2);
		margin-left: 10px;
        padding-bottom: 12px;

		.tablet__text {
			@include text (inherit, 300, 18px, 26px);
			color: rgb(90, 90, 90);
            margin: 0 0 1px 21px;
		}

		.tablet__text--regular {
			@include text (inherit, 400, 21px, 26px);
            margin: 15px 0 0 20px;
		}		
	}
    
    &:hover {
		cursor: pointer;
		.tablet__date {
			@include text (inherit, 700, 18px, 26px);
			color: $color4;
		}

		.tablet__item {
            @include text (inherit, 300, 18px, 26px);
			color: $color6; 
			background-color: $color4;
		}
        
        .tablet__text {
            @include text (inherit, 300, 18px, 26px);
			color: $color6; 
			background-color: $color4;
        } 
		
		.tablet__dot {
			border-color: rgb(148, 224, 242);
		}
        
        .tablet__text--regular {
			@include text (inherit, 300, 21px, 26px);;
		}
	}
}
	
@media screen and (max-width: 520px) {
    .tablet__date,.tablet__dot {
    	display: none;
    }

    .tablet__item,.tablet {
    	width: 100%;
    	margin-left: 0;
    }

    .tablet__text {
    	@include text (inherit, 300, 18px, 26px);
    }
}	

