.timeline {
	@include flexbox (flex-end, none);
	flex-wrap: wrap;
	position: relative;
	width: calc(100% - 240px);
	&:before {
		position: absolute;
		content: "";
		width: 1px;
		height: 75%;
		background-color: #ddd;
    	top: 50px;
    	left: 63px;
    	z-index: 1;
	}

	&__tablet {
		margin-bottom: 20px;
	}
}