.timeline {
	@include flexbox (flex-end, space-between);
	flex-wrap: wrap;

	&__tablet {
		width: 380px;
		height: 107px;
		background-color: $color6;
		border-radius: 9px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	}
}